<ion-content>
  <div class="todos-header">
    <div class="header-top">
      <div class="header-esquerda">
        <ion-button fill="clear" routerLink="/home" class="btn-back">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <h1>Todos os Serviços</h1>
      </div>
    </div>
  </div>

  <div class="todos-container">
    
    <p class="section-title">Serviços Financeiros</p>
    <div class="menu-grid">
      <div class="menu-item" routerLink="/pix">
        <div class="item-icon"><ion-icon name="cash-outline"></ion-icon></div>
        <div class="item-info">
          <h3>Área Pix</h3>
          <p>Enviar, receber e escanear</p>
        </div>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>

      <div class="menu-item" routerLink="/cartoes">
        <div class="item-icon"><ion-icon name="card-outline"></ion-icon></div>
        <div class="item-info">
          <h3>Meus Cartões</h3>
          <p>Crédito, débito e virtuais</p>
        </div>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>

      <div class="menu-item" routerLink="/emprestimos">
        <div class="item-icon"><ion-icon name="wallet-outline"></ion-icon></div>
        <div class="item-info">
          <h3>Empréstimos</h3>
          <p>Crédito rápido e simulações</p>
        </div>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>
    </div>

    <p class="section-title">Mais Serviços</p>
    <div class="menu-grid">
      <div class="menu-item" routerLink="/shop">
        <div class="item-icon"><ion-icon name="bag-handle-outline"></ion-icon></div>
        <div class="item-info">
          <h3>UpPay Shop</h3>
          <p>Gift cards, games e vantagens</p>
        </div>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>

      <div class="menu-item" routerLink="/extrato">
        <div class="item-icon"><ion-icon name="receipt-outline"></ion-icon></div>
        <div class="item-info">
          <h3>Extrato</h3>
          <p>Histórico de transações</p>
        </div>
        <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>