<ion-content>
  <div class="pix-header">
    <ion-button fill="clear" routerLink="/home" class="btn-back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h1>PIX</h1>
  </div>

  <div class="pix-menu-container">
    <button class="menu-row-btn" routerLink="/pagamento">
      <span>Pagar</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>

    <button class="menu-row-btn" routerLink="/receber-pagamento">
      <span>Receber</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
</ion-content>