<ion-content>
  <div class="header-container">
    <h1>LOGIN</h1>
    <img src="assets/icon/splash.png" alt="Logo UpPay">
  </div>

  <div class="form-container">
    <h2>Bem-vindo de volta!</h2>
    

   
      <ion-item lines="none" class="custom-input">
        <ion-input type="email" label="E-mail" labelPlacement="floating" [(ngModel)]="campoIdentificador" placeholder="seuemail@provedor.com"></ion-input>
      </ion-item>
  

    <ion-item lines="none" class="custom-input">
      <ion-input 
        [type]="mostrarSenha ? 'text' : 'password'" 
        label="Senha" 
        labelPlacement="floating"
        [(ngModel)]="senha">
        <ion-button slot="end" fill="clear" class="btn-olho" (click)="mostrarSenha = !mostrarSenha">
          <ion-icon [name]="mostrarSenha ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-primary" (click)="realizarLogin()">ENTRAR</ion-button>

    <p class="redirect-text">
      Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
    </p>
  </div>
</ion-content>